/* Reset styles */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Variables */
:root {
  /* COLORS */
  --brand-color: #4d5ae5; /* IRIS */
  --dark-color: #2e2f42; /* NAVY BLUE */
  --success-color: #31d0aa; /* GREEN */
  --body-text-color: #434455; /* SLATE */
  --sub-text-color: #8e8f99; /* LIGHT SLATE */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --light-color: #f4f4fd; /* CLOUD */
  --bgrnd-color: #ffffff; /* WHITE */
}

body {
  background-color: var(--bgrnd-color);
  color: var(--body-text-color);
  font-family: "Roboto", sans-serif;
}

/* Logo */
.logo {
  color: var(--brand-color);
}
.logo-white {
  color: vaar(--light-color);
}

.logo-black {
  color: var(--dark-color);
}

.menu-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
