/* COlORS */

/* Primary Brand. CTAs, Focused, Active States, Links - color: #4D5AE5; */
/* Dark. Overlays, Shadows, Headings - color: #2E2F42; */
/* Success. Valid fields, Success messages - color: #31D0AA; color: rgba(49, 208, 170, 0.1);*/
/* Body text color: #434455; */
/* Subtle text. Helper text, Deemphasixed text - color: #8E8F99; */
/* Accent. Accent color, Hairlines, Subtle backgrounds - color: #E7E9FC; */
/* Light. Light mode backgrounds, Light mode dialogs / alerts - color: #F4F4FD; */

/* Reset styles */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Variables */
:root {
  /* COLORS */
  --brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --body-text-color: #434455;
  --sub-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --bgrnd-color: #ffffff;
}

body {
  background-color: var(--bgrnd-color);
  color: var(--body-text-color);
  font-family: Roboto, Segoe UI;
}
/* Logo */
.logo {
  color: var(--brand-color);
  text-decoration: none;
}
.logo-white {
  color: #f4f4fd;
  text-decoration: none;
}

.logo-black {
  color: var(--dark);
  text-decoration: none;
}
